table {
    margin: auto;
    width: 100%;
    height: 200px;
    border-spacing: 0;
    border-bottom: 2px solid #333f59;
}

.header-row {
    background: #333f59;
}

.header-row>th {
    color: white;
    font-size: 1.25rem;
}

td {
    border-bottom: 1px solid #e8e8e8;
    text-align: center;
}

td>a {
    text-decoration: none;
    color: black;
}

.data-rows:nth-child(odd) {
    background: #f3f3f3;
}

.search-input {
    width: 25%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}