/* Global styles in App.css or your global styles file */

/* Define light and dark theme colors */
:root {
    --background-light: #ffffff;
    --background-dark: #A9A9A9;
    --text-light: #000000;
    --text-dark: #ffffff;
}

/* Default styles for the light theme */
body {
    background-color: var(--background-light);
    color: var(--text-light);
}

/* Dark mode styling */
body.dark-mode {
    background-color: var(--background-dark);
    color: var(--text-dark);
}

